*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #190361, #bb00ff);
    display: grid;
    place-items: center;
    height: 100vh;
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

main{
    background-color: white;
    margin-top: -12rem;
    width: min(42.8rem, 90%);
    text-align: center;
}

main h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.4rem;
}

main img{
    width: 30rem;
}

.hide{
    display: none;
}

/* screen1 */
.screen1{
    margin: 4.8rem 6.4rem 6.4rem;

}

.screen1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.screen1 img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* screen2 */
.screen2{
    margin: 4.8rem 6.4rem;
}

.screen2 p{
    background: #E4EDF1;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-family: 'Dancing Script', cursive;
    margin: 1.7rem auto;

    animation: bottomup 1.1s;
}

.screen2 button{
    background: #FF9500;
    border-radius: 4px;
    width: 17.4rem;
    height: 5.2rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background .3s;
}

.screen2 button:hover{
    background: #a66101;
}

/* keyframes */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bottomup{
    0%{
        transform: translateY(12rem) scale(.1);
    }

    100%{
        transform: translateY(0) scale(1);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}