*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-color: white;
    font-size: 62.5%;
    --btn-bgcolor: #E1E1E6;
    --btn-hoverBgcolor: #77acbc;
    --btn-activeBgColor: #02799D;
    --txt-color: black;
    --svg-fill: black;
    --sli-color: black;
}

.nightmode{
    position: absolute;
    right: 6.4rem;
    top: 6.4rem;
}

.nightmode:hover{
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
  
    cursor: pointer;
}

body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bg-color);
    gap: clamp(.5rem, 1rem + 10vw, 19.2rem);
    color: var(--txt-color);
}

.clock{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    margin-bottom: 1.7rem;
    margin-top: -12rem;
}

.hide{
    display: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.buttons svg path{
    fill:var(--svg-fill);
}

.pause svg{
    height: 6rem;
    width: 6rem;
}

.sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin-top: -10rem;
}

.sounds div{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 138px;
    height: 152px;
    background-color: var(--btn-bgcolor);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    transition: background 500ms;
}

.sounds .active{
    background-color: var(--btn-activeBgColor);
}

.sounds svg path{
    fill:var(--svg-fill);
}

.sounds .active svg path{
    fill:white;
}

.sounds div:hover{
    background-color: var(--btn-hoverBgcolor);
    cursor: pointer;
}

.sounds div svg{
    margin: 2.4rem auto 3rem;
}

.slider {
    -webkit-appearance: none;
    height: .6rem;
    border-radius: 5px;  
    width: 9rem;
    background: var(--sli-color);
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: var(--sli-color);
    cursor: pointer;
}